<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/semantic.min.css' />
    <link rel="stylesheet" href='/styles/style.css' />
</head>
<body>
<div id="root" class="ui container">
    <ui-tabs>
        <ui-tab title="First" data_tab="first" active="true">
            First
        </ui-tab>
        <ui-tab title="Second" data_tab="second">
            Second
        </ui-tab>
        <ui-tab title="Third" data_tab="third">
            Third
        </ui-tab>
    </ui-tabs>
</div>
<script src="/js/vue.js"></script>
<script src="/dist/js/bundle.js"></script>
</body>
</html>
