<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/semantic.min.css' />
    <link rel="stylesheet" href='/styles/style.css' />
</head>
<body>
<div id="root" class="ui container">
    <ui-tabs>
        <a class="active item" data-tab="first">First</a>
        <a class="item" data-tab="second">Second</a>
        <a class="item" data-tab="third">Third</a>
    </ui-tabs>
    <div class="ui bottom attached active tab segment" data-tab="first">
        First
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>
</div>
<script src="/js/vue.js"></script>
<script src="/dist/js/bundle.js"></script>
</body>
</html>
