<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/semantic.min.css' />
    <link rel="stylesheet" href='/styles/style.css' />
</head>
<body>
<div id="root" class="ui container" >
    <ui-view id="1" title="View 1" v-if="currentView == '1'" v-on:changeView="change"></ui-view>
    <ui-view id="2" title="View 2" v-if="currentView == '2'"></ui-view>
    <ui-view id="3" title="View 3" v-if="currentView == '3'"></ui-view>
</div>
<script src="/js/vue.js"></script>
<script src="/dist/js/bundle.js"></script>
</body>
</html>
