<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/semantic.min.css' />
    <link rel="stylesheet" href='/styles/style.css' />
</head>
<body>
<div id="root" class="ui container">
    <ui-button modal="modal">Show Modal</ui-button>

    <ui-modal id="modal">
        <ui-modal-header>Title 2</ui-modal-header>
        <ui-modal-content>
            <ui-message-compact>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum?</ui-message-compact>
        </ui-modal-content>
        <ui-modal-actions>
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Yep, that's me
                <i class="checkmark icon"></i>
            </div>
        </ui-modal-actions>
    </ui-modal>
</div>
<script src="/js/vue.js"></script>
<script src="/dist/js/bundle.js"></script>
</body>
</html>
